
body {
  margin: 20px 0px 0px 20px;
  background-color: rgb(240, 220, 180);
}
input[type = "submit"] {
    border-radius: 6px;
    padding: 4px 5px 4px 5px;
    font-family: arial;
    font-size: 15px;
  cursor: pointer;
}

input[type="text"]{
  width: 50%;
   font-size: 15px;
   margin: 7px 0px 0px 0px;
   padding: 10px;
}

input[type="email"]{
  font-size: 14px;
margin: 10px 0px 0px 0px;
padding: 7px;
}

textarea {
  font-size: 14px;
}
